.idea/
face-recognition/src/track/__pycache__/tracker.cpython-36.pyc
face-recognition/src/gui/__pycache__/tkgui.cpython-36.pyc
face-recognition/src/deepgaze/__pycache__/head_pose_estimation.cpython-36.pyc
face-recognition/src/blurdetector/__pycache__/blurdetect.cpython-36.pyc
face-recognition/src/aws/__pycache__/rekognition.cpython-36.pyc
face-recognition/src/align/__pycache__/detect_face.cpython-36.pyc
face-recognition/src/align/__pycache__/__init__.cpython-36.pyc
vehicle-training-old/darkflow/net/__pycache__/build.cpython-36.pyc
vehicle-training-old/darkflow/net/__pycache__/flow.cpython-36.pyc
vehicle-training-old/darkflow/net/__pycache__/framework.cpython-36.pyc
vehicle-training-old/darkflow/net/__pycache__/help.cpython-36.pyc
vehicle-training-old/darkflow/net/ops/__pycache__/__init__.cpython-36.pyc
vehicle-training-old/darkflow/net/ops/__pycache__/baseop.cpython-36.pyc
vehicle-training-old/darkflow/net/ops/__pycache__/convolution.cpython-36.pyc
vehicle-training-old/darkflow/net/ops/__pycache__/simple.cpython-36.pyc
vehicle-training-old/darkflow/net/yolo/__pycache__/__init__.cpython-36.pyc
vehicle-training-old/darkflow/net/yolo/__pycache__/misc.cpython-36.pyc
vehicle-training-old/darkflow/net/yolo/__pycache__/predict.cpython-36.pyc
vehicle-training-old/darkflow/net/yolo/__pycache__/train.cpython-36.pyc
vehicle-training-old/darkflow/tiny-yolo-voc.weights
vehicle-training-old/darkflow/utils/__pycache__/box.cpython-36.pyc
vehicle-training-old/darkflow/utils/__pycache__/im_transform.cpython-36.pyc
vehicle-training-old/darkflow/utils/__pycache__/loader.cpython-36.pyc
